[submodule "dayside"]
	path = dayside
	url = https://github.com/akulyk/dayside.git
[submodule "teacss"]
	path = teacss
	url = https://github.com/akulyk/teacss.git
[submodule "teacss-ui"]
	path = teacss-ui
	url = https://github.com/akulyk/teacss-ui.git
